<div class="container">
  <div class="create-q">
    <h1 class="create-q__title">О чем вы хотели бы спросить?</h1>
    <app-reactive-form
      [class]="'create-q__form'"
      [form_schema]="form_schema"
      [form_names]="form_names"
      (invalid)="invalid = $event"
      (on_change)="save_form($event)"
      (on_submit)="submit($event)"
    >
    <button
      class="create-q__button"
      mat-stroked-button
      color="primary"
      [disabled]="invalid"
      [class.mat-button-disabled]="invalid"
      >
        Создать
        <mat-icon>create</mat-icon>
      </button>
    </app-reactive-form>
  </div>
</div>