@keyframes fade {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.tag-block {
  flex-basis: 100%;
  animation: fade 0.5s;

  &__tag {
    display: flex;
    margin-bottom: 20px;
    flex-basis: 50%;

    &__load_more_btn {
      &__loader {
        margin-left: 10px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__info {
      max-width: 50%;
    }
  }
}