<div class="tag-block">
  <div
    class="tag-block__tag"
    *ngFor="let tag of tags$ | async"
  >
    <app-tag-info
      class="tag-block__tag__info"
      [tag]="tag"
    >
    </app-tag-info>
    <!-- <div class="tag-block__tag__questions" *ngIf="qs_service.qs_list | tagPipe: tag">
      <app-q-card
        *ngFor="let q of (qs_service.qs_list | tagPipe: tag);"
        [question]="q"
        class="tag-block__tag__questions__q-card"></app-q-card>
    </div> -->
  </div>
  <h4 class="home__questions__main__list__empty" *ngIf="!(tags$ | async)?.length">
    По этому запросу не найдено тэгов
  </h4>
  <app-load-more-btn
    [btn_state$]="load_more_btn$"
    [callback]="load_more.bind(this)"
    [btn_loading]="load_more_btn_loading"
  >
  </app-load-more-btn>
</div>