<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <app-reactive-form
    [class]="'widget__form'"
    [form_schema]="form_schema"
    [form_names]="form_names"
    (invalid)="invalid_form = $event"
    (on_change)="form = $event"
  ></app-reactive-form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="close()">Отмена</button>
  <button
    mat-button
    [disabled]="invalid_form"
    [class.mat-button-disabled]="invalid_form"
    [mat-dialog-close]="form">
    {{ button_text }} <mat-icon>{{ button_icon }}</mat-icon>
  </button>
</div>